<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/homepageStyle.css">
    
    
    <!--Kode så man ikke kan komme til bage på siden ved brug af back arrow, efter man er logget ud-->
    <!--<script type = "text/javascript" >
      function preventBack(){window.history.forward();}
       setTimeout("preventBack()", 0);
       window.onunload=function(){null};
   </script>-->


   <script type="text/javascript">
  function remove() {
    var elem = document.getElementById('user2');
    elem.parentNode.removeChild(elem);
    return false;
}</script>
  </head>


  <body>


  <div id="mainDiv">


    <div id="profil">


        <h1 id="header">Din Profil</h1>
        <br><br>
        
        <% if (user) { %>
            <h3 id="username"><%= user.username %></h3>
          
    
          <ul>
            
                <li>Email: <%= user.email %></li>
             <br>
                <li>City: <%= user.city %></li>
             <br>
                <li>Gender: <%= user.gender%></li>
             <br>
                <li>Preferred Gender: <%= user.preferredGender%></li>
              <br>
                <li> Age: <%= user.age%></li>
              <br>
                <li>Interests: <%= user.interests%></li>
                
          </ul>
          
          <a type="button" href="/users/login/<%= user.id %>/edit">Edit</a>
          <!-- Bruger method-override for at kunne bruge put og delete i form. -->
          <br><br>
          

          <form action="/users/login/delete/<%= user.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
<br>
          
          <form action="http://localhost:3000/users/logout" method="GET" role="form" enctype="application/json">
            <button type="submit">Logout</button>
          </form>
<br>
          <form action="/users/<%=user.id%>/matches">
            <button type="submit">Show matches</button>
          </form>
    </div>

    <div id="matches">


        <h1 id="header2">Possible Matches</h1>
        
        <ul>
          <h3>User 1</h3>
          <form action="http://localhost:3000/users/<%= user.id %>/likes" method="POST">
            <% } %>
            <% if (listUsers) { %>
            <li> Name: <%=listUsers.username%> </li>
            <li> Age: <%=listUsers.age%> </li>
            <li> Interest: <%=listUsers.interests%> </li>
            <li> Email: <%=listUsers.email%> </li>
            
            
            <input type="text" value="<%=listUsers.id%>" name="id">
            <button type="submit">Like</button>
          </form>
          
          
          <input type="button" value="Dislike" onclick="window.location.reload()"/>
        

        </ul>
        <% } %>

    </div>
  </div>
    
</body>
</html>