<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/matches.css">
</head>
<body>
    
    <div id="matchMainDiv">
        <h2>Your Matches</h3>
           
            <% matches.forEach(function(matches) { %>
        
            
                <h4 id="username"><%= matches.username %></h5>
      
                    <ul>
                        <li>Location: <%= matches.city %></li>
                        <li>Interests: <%= matches.interests %></li>
                        <li>Age: <%= matches.age %></li>
                        <li>Gender: <%= matches.gender %></li>
                        <li style="display: none;"><%= matches.id %></li>
                        <br>
                    </ul>
                    <br>
                    <% if (user){ %>
                        <li style="display: none;"><%= user.id %></li>
                        <form action="http://localhost:3000/users/<%= user.id %>/matches/delete" method="POST" enctype="application/json">
                        
                    <input type="text" value="<%= matches.id %>" name="id" style="display: none;">
                    <button type="submit">Delete</button>
                </form>
                <% } %>
                <% }) %>
        </div>    
</body>
</html>